<!doctype html> <html class="no-js"> 



<head> 
  <meta charset="utf-8"> 
  <title>GeoReport.com</title> 
  <meta name="description" content=""> 
  <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> 
  <link rel="stylesheet" href="styles/vendor.04b313cc.css">
  <link rel="stylesheet" href="styles/main.05619b0d.css"> 
  <base href="/"> <link rel="icon" href="//d2c87l0yth4zbw.cloudfront.net/i/_global/favicon.png"> <!-- Open Graph data --> 

</head>
<body>
  <div class="site-content-container">
    <div class="main-content">
      <header>
      <img src="/Users/tmaurerstuff/Google Drive/SoftwareDev/Project/Software3308-Group1/testdir/www.spotify-thedrop.com/strawman.png">
      <font size="5">GeoReport</font>
      <nav>
       	<a style="border-left:1px solid white">
       		USA</a><a class="navtabs">EARTH</a><a class="navtabs">SPACE</a><a class="navtabs">EU</a>

      </nav>
      </header>
    </div>
    <main ng-view ng-click="$root.expanded = false" ng-class="$root.view_class"> </main> 
    <nav class="site-mobile-navigation" ng-controller="HeaderCtrl">
    <a ng-repeat="link in links" ng-href="#{{ link.path }}" ng-class="{current: (path === link.path)}" ng-click="$root.expanded = false"> {{ link.title }} </a>
    <a ng-click="toggleShare()">SHARE</a>
    <div id="share-controls"> 
     
        </ul> 
      </div> 
    </nav> 
  </div> 
  <footer ng-include="'partials/footer.html'"></footer>
</body> <!--
    <main ng-class="$root.animationClass">

      <div class="main-content">
        <header ng-controller="HeaderCtrl" ng-include="'partials/header.html'"></header>
        <div ng-view ng-click="$root.expanded = false" ></div>
      </div>

        <nav class="mobile-navigation" ng-controller="HeaderCtrl">
            <a ng-repeat="link in links" ng-href="{{ link.path }}" ng-click="$root.expanded = false" ng-class="{current: (path === link.path)}">
                {{ link.title }}
            </a>
        </nav>

    </main> --> <!--  <main ng-class="$root.animationClass">



        <header ng-controller="HeaderCtrl" ng-include="'partials/header.html'"></header>
        <div ng-view ng-click="$root.expanded = false"></div>
    </main>

    <nav class="mobile-navigation" ng-controller="HeaderCtrl">
        <a ng-repeat="link in links" ng-href="{{ link.path }}" ng-click="$root.expanded = false" ng-class="{current: (path === link.path)}">
            {{ link.title }}
         </a>
     </nav>
 --> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->  